:host {
    display: block;
    margin-bottom: 8px;
}

.header {
    background-color: #eee;
    padding: 8px 16px;
    margin-bottom: 8px;
}

h2 {
    margin: 0;
}

label {
    display: block;
    padding: 8px 16px;

}